.input-sizes{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: solid 1px grey;
    border-radius: 10px;

    
}
.magazine-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    padding-left: 250px;
}

.street-align{
    display: flex;
    flex-direction: column;
    width: 84%;
    margin: 0 80px 0 0;
}
.m-heading{
    color: black;
    font-family: "roboto";
    font-weight: 500;
    font-size: 35px;
    text-align: center;


}

.magazine-input-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 80px 0 0;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button-submit{
    color: black;
    border-width: 0px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    align-items: end;
    
}
.bg-container{
    min-width: 100%;
}

.sub-heading{
    color: black;
    font-family: "roboto";
    font-weight: 500;
    font-size: 50px;
    margin-left: 200px;

}
.page-align{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-save{
    background:rgb(63, 139, 231);
    font-size: 30px;
    width:300px;
    height: 50px;
    margin: 20px;
    margin-right: 200px;
}
.m-error{
    color: red;
    font-family: 'roboto';
    font-size: 15px;
}
.name-heading{
    font-size: 25px;
    margin-top: 5px;
}
.btn-submit-align{
    margin-top: 20px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.set-up{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
}