.p-margin{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(243, 137, 62);
    background-size: cover;
    height: 100vh;

}

.p-names{
    color: #282c34;
    font-family: "roboto";
    font-size: 20px;
    margin: 0;
}

.p-input5{
    height: 36px;
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    padding-left: 8px;
    background-color: darkgray ;
}

.p-profile_name{
    font-family: "roboto";
    font-size: 32px;
    margin-top: 30px;
}

.p-buttons{
    color: white;
    border-width: 0px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    align-items: end;
}

.p-btn-cancel{
    background: lightslategray;
    margin: 20px;
}
.p-btn-save{
    background: lightgreen;
    margin: 20px;
}

.p-form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 30px;
     width: 400px;
     
 }
 .p-model-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;

 }

.p-btn-align2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.p-left-align{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 100%;

}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p-error{
    color: red;
    font-family: 'roboto';
    font-size: 25px;
}

.p-inputs-align{
    /* min-width: 100%; */
    margin-bottom: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-heading {
    color: #fff;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.edit-profile-btn {
    border:none;
    outline: none;
    background-color:#fff;
    font-size: 16px;
    color: #000;
    font-family: "Roboto";
    border-radius: 4px;
    margin-left: 10px;
}

.h-line {
    width: 100%;
    height: 3px;
    background-color: red;
}

.profile-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 60vh;
}

.details-container {
    display: flex;
    align-items: center;
}

.user-details {
    font-family: "Roboto";
    font-size: 32px;
    color: #fff;
    padding-right: 15px;
}

.user-sub-details {
    font-family: "Roboto";
    font-size: 28px;
    color: #eba7a7;
}

.c-margin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-image: radial-gradient(rgb(235, 53, 83),rgb(10, 56, 131),black,black); */
    background-color: rgb(45, 44, 46);
    padding: 50px;

}
.c-names{
    color:#ffffff;
    font-family: "roboto";
    font-size: 30px;
}
.c-input1{
    padding-left: 30px;
    height: 50px;
    border:none;
    border-width: 2px;
    font-size: 20px;
    width: 100%;
    background-color:#ffffff;
    border-radius: 8px;
    outline: none;

    
}
.c-aligning{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.c-profile_name{
    color: white;
    font-family: "roboto";
    font-size: 50px;
}
.c-buttons{
    color: white;
    border-width: 0px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    align-items: end;
}
.c-btn-cancel{
    background: rgb(225, 134, 81);
    margin: 20px;
}
.c-btn-save{
    background: lightgreen;
    margin: 20px;
}
.c-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    padding: 50px;
    border-radius: 25px;
 }
.c-btn-align3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.img{
    border-radius: 25px;
    width: 50%;
    margin-left: 100px;
}
.c-left-align{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 100%

}
.c-inputs-align{
    min-width: 100%;
    margin-bottom: 20px;
}
.c-error{
    color: red;
    font-family: 'roboto';
    font-size: 15px;
}

.modal-style{
    padding: 0;
}
.p-password-symbol{
    border:none;
    outline: none;
}

.p-container-visible{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
}
.p-eye-button{
    border:none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: #0b0a0a;
    padding: 0;
    padding-right: 10px;
}