.l-input-container {
    width:300px;
    margin-bottom: 20px;
}

.l-input2{
    border-width: 1px;
    border-radius: 5px;
    border: solid 1px #ffffff;
    height: 36px;
    color: #ffffff;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
}

.l-disc{
    font-size: 14px;
    font-family: 'roboto';
    color: #ffffff;
    margin-bottom: 8px;
}

.l-align-middle{
    display: flex;
    background-image: url("https://res.cloudinary.com/dck3ikgrn/image/upload/v1681383615/360_F_117332203_ekwDZkViF6M3itApEFRIH4844XjJ7zEb_ylmyvp.jpg");
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.l-align-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
   
}

.l-btn-align{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.l-btn{
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    margin-bottom: 10px;
}

.l-error{
    color: red;
    font-family: 'roboto';
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 4px;
}

.l-heading{
    color:black;
    font-family: 'roboto';
    font-size: 20px;
}

.login-link {
    font-family: "Roboto";
    font-size: 18px;
    color: #ffffff;
}

.login-link-style {
    text-decoration: none;
    color: #faef9a;
}

.l-password-symbol{
    border:none;
    outline: none;
}

.l-container-visible{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #ffffff;
    border-radius: 5px;
}
.l-eye-button{
    border:none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: #ffffff;
    padding: 0;
    padding-right: 10px;
}