.h-routes{
    font-size: 18px;
    color: white;
}

.h-heading-nav{
    font-size: 18px;
    color: white;
}

.home-bg-container{
    background: #7bc6f4;
    width: 100%;
}

.h-icon {
    background-color: white;
}