
.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
    width: 50%;
 
    border-radius: 25px;
  }  
  .cart-product-image {
    width: 96px;
    height: 96px;
    border-radius: 4px;
  }
  .align-container-big{
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  .c-delete-button{
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
  }
  

  
  
  .cart-product-title {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    width: 250px;
  }

  .cart-product-brand {
    color: #64748b;
    font-family: 'Roboto';
    font-size: 10px;
  }

  .cart-quantity {
    color: #52606d;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin: 8px;
    line-height: 1.3;
  }

  
  .cart-total-price {
    color: #0b69ff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 100px;
  }




  